
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>conditional Statement</title>
</head>
<body>

	<h1>This is Conditional statement in .....!!!</h1>

	<h1>
		Use is <span th:style="${isActive} ? 'color:green' : ' color:red'"
			th:text="${isActive} ? 'ACTIVE' : 'NOT ACTIVE'"></span>
	</h1>
	<h1 th:if="${gender}=='M'">Male</h1>
	<h1 th:unless="${gender}=='M'">Female</h1>

	<div th:switch="${#lists.size(mylist)}">
		<h1 th:case="'0'">List contain Zero Element</h1>
		<h1 th:case="'1'">List contain One Element</h1>
		<h1 th:case="*">list contain more than one element</h1>

	</div>
</body>
</html>